
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

#container {
    width: 100%;  
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

 
/*=============== Mario ===============*/

#container #mario {
    height: 100px;
    width: 100x;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #mario img {
    height: 100px;
    width: 100px;
}

.marioActive {
    animation: animateMario 0.5s linear infinite;
}

@keyframes animateMario {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

/*Tubulação */

#container #block {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 80px;
}

.blockActive {
    animation: blockAnimate 1.1s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

/*Piso*/

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}


#container #road img {
    height: 30px;
    width: 3000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}




/*Nuvens*/

#cloud1 {
    position: absolute;
    width: 300px;
    padding-top: 60px;
    z-index: 7;;
    animation: clouds-animation-1 65s infinite linear;
}



#cloud2 {
    position: absolute;
    width: 270px;
    padding-top: 150px;
    z-index: 3;
    animation: clouds-animation-2 50s infinite linear;
}
#cloud3 {
    position: absolute;
    width: 150px;
    padding-top: 300px;
    z-index: 2;
    animation: clouds-animation-3 75s infinite linear;
}

#cloud4 {
    position: absolute;
    width: 300px;
    padding-top: 50px;
    z-index: 4;
    animation: clouds-animation-1 85s infinite linear;
}

@keyframes clouds-animation-1 {
    from{
        right: -2000px;
    }

    to{
        right: 100%;
    }
}


@keyframes clouds-animation-2 {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation-3 {
    from{
        right: -1300px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation-4 {
    from{
        right: -250px;
    }
    to{
        right: 100%;
    }
}


/*score*/

#score {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 0;
}


#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(26% - 130px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
}
 
/*texto*/

#text1 {
    font-family:'Roboto Mono', monospace;
    padding: 50px;
    text-align: center;
    color: black;
}

